/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
 @import 'mapbox-gl/dist/mapbox-gl.css';
/* Global styles */

  
  html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
body{
  background-color: black
}
  
  /* Import Mapbox CSS */
 