@keyframes pathAnimation {
  0% {
    stroke-dasharray: 0 1500;
    stroke-dashoffset: 0;
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    stroke-dasharray: 1500 0;
    stroke-dashoffset: 1500;
    opacity: 0.3;
  }
}

.path-animation {
  animation-name: pathAnimation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

